@media (max-width: 420px) {

    .modal-carrito {
        width: 70%;
    }

}

@media (max-width: 576px){
    .modal-carrito {
        width: 70%;
    }
}

@media (max-width: 768px){
    .modal-carrito {
        width: 70%;
    }
}

@media (max-width: 992px){
    .modal-carrito {
        width: 50%;
    }
    .imagen-marea{
        width: 50%;
        margin-left: 20%;
    }
}