//General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Colores
@import "color.scss";

//Tipos
@import "tipografias.scss";

//Navbar

.fondonavbar{
    background-color: black;
    padding:1%;


    a{
        font-family:$tipo-secundaria;
        font-size: small;
        color: white;

        &:hover{
            color:$color-celeste;
        }
            

        &:focus{
            color: gray;
        }    
    }

    .navbar-nav{
        margin-left: 27%;
    }

    .btn{
        background-color: $color-celeste;
        font-family:$tipo-secundaria;
        color: white;
    }

    .nav-item{
        background-color: transparent;
    }

    .navbar-toggler-icon{
        background-image: url(../assets/images/menu.png);
        }
    

    .carrito{
        margin-top: 10%;
        margin-bottom: 5%;

        .carritoceleste{
            display: none;
        }
        
        &:hover{
            .carritoblanco{
                display: none;
            }
            .carritoceleste{
                display:inline;
            }
        }
    
    }

}

//Index
.carrusel{
    margin-top: 0.5%;

    .carousel-indicators{
        width: 10%;
        margin-left: 45%;
    }
    .carousel-control-prev-icon{
        width: 10%;
    }
    .carousel-control-next-icon{
        width: 10%;
    }
}

.container-fluid{
    background-color: black;
    margin-top: 0.5%;
    background-image: url(../assets/images/backconlogo.png);

    .titulos-principales{
        padding-top: 3%;
        padding-bottom: 2%;
        padding-left: 1%;
        font-family: $tipo-primaria;
        font-size:xx-large;
        color: white;
    
    }

    h2{
        font-family: $tipo-secundaria;
        color: white;
    }

    h4{
        font-family: $tipo-secundaria;
        color: white;
        font-size:large;
    }

    p{
        font-family: $tipo-secundaria;
        color: $color-celeste;
    }

}

.container-fluid-blanco{
    background-color: white;
    margin-top: 0.5%;
    background-image: url(../assets/images/backconlogoblanco.jpg);
    justify-content: center;

}
.container-fluid-negro{
    background-color: black;
}

.titulos-principales{

    h3{
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 1%;
    font-family: $tipo-primaria;
    font-size:xx-large;
    color: rgb(99, 99, 99);
    }
    

}
.titulos-secundarios{
    padding-top: 3%;
        padding-bottom: 2%;
        padding-left: 1%;
        font-family: $tipo-secundaria;
        font-size:xx-large;
        color: white;

}
//cards


$bg: rgba(0, 0, 0, 0.6);

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

.bg,
.overlay {
    text-align: center;

}

img,
.overlay {
    transition: .3s all;

}

.bg {
    position: relative;


    img {
    width: 100%;
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $bg;
    color: #fff;
    opacity: 0;

    h5 {
    padding-top: 50%;
    font-family:$tipo-secundaria;
    color: white;
    }
    p {
        font-family:$tipo-secundaria;
        color: white;
    }
}
    &:hover {
    .overlay {
        opacity: 1;
    }
        img {
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
}
}

.card{

    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    background-color:transparent;
    border: none;

}

//videos

.video{
    margin: 3% 3% 3% 3% ;


    iframe{
        width: 100%;
    }
}

//mareas

.botontabla{
    margin: 3% 40% 3% 40%;
}

//Footer
.footup{
    padding: 2% 0% 1% 35%;
    p{
        font-family: $tipo-secundaria;
        color: white;
    }
}

.footdown{
    padding: 2% 0% 0% 2%;

    a{
        text-decoration: none;
    }

    h6{
        font-family: $tipo-secundaria;
        color: white;
        margin-top: 5%;

    }

    p{
        font-family: $tipo-secundaria;
        color: white;
        margin-top: 3%;
    }

    .contactanos{
        margin-top: 10%;
    }

    .whatsapp{
        display: flex;
        flex-direction: row;  
        align-items: center;
        p{
            padding-left: 2%;
        }
    }

    .mail{
        display: flex;
        flex-direction: row;  
        align-items: center;
        p{
            padding-left: 2%;
        }
    }

    .ubicacion{
        display: flex;
        flex-direction: row;  
        align-items: center;
        p{
            padding-left: 2%;
        }
    }

    h4{
        font-family: $tipo-primaria;
        color: white;
        font-size: large;
        margin-top: 3%;
    }

    .logofoot{
        margin-bottom: 5%;
    }

}

// cards tienda

.tituloseccion h3 {
        font-family: $tipo-secundaria;
        color: white;
        font-size: xx-large;
}

//Productos

.container-fluid-productos{
    background-color: black;
    margin-top: 0.5%;
    background-image: url(../assets/images/backconlogo.png);

    .titulos-principales{
        h3{
        padding-top: 3%;
        padding-bottom: 2%;
        padding-left: 0%;
        font-family: $tipo-primaria;
        font-size:xx-large;
        color: white;
        }
    
    }

    h2{
        font-family: $tipo-secundaria;
        color: white;
    }


    h4{
        font-family: $tipo-secundaria;
        color: white;
        font-size:large;
        padding-left: 3%;
    }

    p{
        font-family: $tipo-secundaria;
        color:rgb(59, 59, 59)
    }

}

//Carrito

.container-fluid-productos{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    .titulos-principales{
        margin-top: 2%;
    }

}



.producto-contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 0%;

    .card{
        background-color: rgb(233, 233, 233);
        display: flex;
        align-content: center;
        padding: 0%;
        margin:1%;
        text-align: center;
    } 
    
} 





